<div class="row">
    <div class="col-sm-12 form-group">
      <label for="cpf">CPF</label>
      <div [class]="(cpf.errors && (cpf.dirty || cpf.touched)) ? 'input-group ng-invalid ng-dirty ng-touched' : 'input-group'">
        <input
          type="text"
          name="cpf"
          id="cpf"
          class="form-control"
          ngBrToolsCpfPattern
          ngBrToolsCpfValidator
          ngModel
          #cpf="ngModel"
        >
        <div *ngIf="(cpf.errors && (cpf.dirty || cpf.touched))" class="input-group-append">
          <span class="input-group-text text-danger">!</span>
        </div>
      </div>
      <small *ngIf="(cpf.errors && !cpf.errors?.CPFValidator.valid && (cpf.dirty || cpf.touched))">
        <span class="text text-danger">CPF inválido</span>
      </small>
    </div>
  </div>
