<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="cpf">CPF</label>
              <input type="text" name="cpf" id="cpf"
              [placeholder]="'+## (##) #-####-####'"
              cpfValidator
              ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="cep">CEP</label>
            <ng-br-tools-cep class="teste"
              [placeholder]="'__.___-___'"
              (onEndereco)="doEndereco($event)"
              (onError)="doError($event)">
              ansmnamsn2  qwuqw
            </ng-br-tools-cep>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="!f.valid"> Enviar</button>
            <button type="reset" class="btn btn-danger">Limpar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngIf="hasEndereco">
        <h3>{{endereco.cep}}</h3>
        <p>{{endereco.endereco}}</p>
        <p>{{endereco.complemento}}</p>
        <p>{{endereco.complemento2}}</p>
        <p>{{endereco.bairro}}</p>
        <p>{{endereco.cidade}}</p>
        <p>{{endereco.uf}}</p>
    </div>
    <div class="col-sm-6" *ngIf="hasError">
      <h3>{{error}}</h3>
    </div>
  </div>
</div>
