<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="cpf">CPF</label>
              <input type="text" name="cpf" id="cpf"
              [placeholder]="'+## (##) #-####-####'"
              cpfValidator
              ngModel>
          </div>
        </div>
        <div class="row">
          <div style="color: red;" class="col-sm-5 form-group">
            <label for="cep">CEP</label>
            <ng-br-tools-cep [class]="'form-control'" [placeholder]="'__.___-___'"
              [cepService]="cepService" (onEndereco)="enderecoCep($event)"></ng-br-tools-cep>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="!f.valid"> Enviar</button>
            <button type="reset" class="btn btn-danger">Limpar</button>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
