<!-- <div  class="estadosBg">
  <select name="estados" id="estados">
    <option *ngFor="let e of estados;"
    value="{{e.value}}">
      {{e.nome}}
    </option>
  </select>
</div> -->
<div id="estados" class = "dropdown">
  <div class="item" id="item" *ngFor="let e of estados | async as estados;"
    (click)="setSelected($event, e)">
      <span [class.to-left]="txtPosition()">
        <span *ngIf="!hideNomes"
          class='nome-estado'>
            {{e.nome}}
        </span>
        <span *ngIf="!hideNomes && !hideNomes"
          class='separador-nome-sigla'>
           -
        </span>
        <span *ngIf="!hideSiglas"
          class='sigla-estado'>
            {{e.sigla}}
        </span>
      </span>
      <img *ngIf="!hideFlags && e.bandeira"
        [class.to-left]="flgPosition()"
        [src]="e.bandeira"
        alt="Bandeira {{e.nome}}">
  </div>
</div>
