<!-- <div  class="estadosBg">
  <select name="estados" id="estados">
    <option *ngFor="let e of estados;"
    value="{{e.value}}">
      {{e.nome}}
    </option>
  </select>
</div> -->
<div id="estados" class = "dropdown">
  <div class="item" *ngFor="let e of estados | async as estados;">
      <span [class.to-left]="txtPosition()" >{{e.nome}} - {{e.sigla}}</span>
      <img *ngIf="!hideFlags && e.bandeira"
        [class.to-left]="flgPosition()"
        [src]="e.bandeira"
        alt="Bandeira {{e.nome}}">
  </div>
</div>
