.estadosBg {
  display: inline-block;
  position: relative;
}
.estadosBg select#estados option[value="AC"]::after {
  content: '<img src="assets/bandeiras/AC.svg">';
}
select#gender option[value="female"] { background-image:url(female.png); }
select#gender option[value="others"] { background-image:url(others.png); }


.dropdown {
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #ccc;
  overflow-y: scroll;
  height: 5rem;
  width: 13rem
}

.dropdown .item {
  display: block;
  padding-bottom: 0.3rem;
}

.dropdown .item img {
  height: 1rem;
  vertical-align: middle;
  display: inline-block;
  /* float: left; */
  position: relative;
}

.dropdown .item span {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  position: relative;
  /* float: left; */
  /* vertical-align: middle; */
}

.to-left {
  float: left;
  padding-left: 0.15rem;
  padding-right: 0.25rem;
}


